@font-face {
    font-family:'Lexend Deca' ;
    src: url('../fonts/LexendDeca-Regular.ttf');
}
@font-face {
    font-family: 'Big Shoulders Display';
    src: url('../fonts/BigShouldersDisplay-Bold.ttf');
}


body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    
}

.container{
    
    display: flex;
    width: 65%;
    height: 460px;
    border-radius: 10px;
    /* align-content: center; */
    justify-content: center;
    /* position: relative; */
    transform: translate(30% , 16%);
    border-radius: 7px;
    box-shadow: 1px 1px 4px 3.5px rgb(0 0 0 / 10%);
  
}
.left-container{
    display: table-column;
    border-radius: 10px 0px 0px 10px;
    float: left;
    background-color: hsl(31, 77%, 52%);
    width: 36%;
    height: 460px;
}
.middle-container{
    display: table-column;
    float: inherit;
    background-color:hsl(184, 100%, 22%) ;
    width: 36%;
    height: 460px;
}
.right-container{
    display: table-column;
    float: right;
   background-color: hsl(179, 100%, 13%);
   width: 36%;
    height: 460px;
    border-radius:  0px 10px 10px 0px;
}

p{
line-height: 24px;
font-family:'Lexend Deca';
font-weight: 400;
color:hsla(0, 0%, 100%, 0.75) ;
font-size: 13px;
opacity: 98%;
}
h1{
font-family:'Big Shoulders Display';
font-size: 38px;
font-weight: 700;
color:hsl(0, 0%, 95%) ;

}

.box1{
    margin-left: 15%;
    margin-top: 14%;
}

.box2{
    margin-left: 15%;
    margin-top: 9%;
}

.box3-1 {
    display:block;
    margin-left: 15%;
    margin-top: auto;
    margin-right: 25%;
    margin-bottom: auto;
}

.box3-2 {
    display: block;
    margin-left: 15%;
    margin-top: auto;
    margin-right: 19%;
    margin-bottom: auto;
}

.box3-3 {
    display: block;
    margin-left: 15%;
    margin-top: auto;
    margin-right: 21%;
    margin-bottom: auto;
}


.box4
{   width: 33%;
    height: 35%;
    display: flex;
    position: absolute;
    transform: translate(-13px, 2px);
}



button{
   
    height: 48px;
    width: 148px;
    border-radius: 28px;
    border-width:2px;
    border-style: solid;
    border-color: hsl(0, 0%, 95%) ;
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(0, 0%, 95%);
    transform: translate(52px, 58px);
}

.btn1{
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%) ;

}
.btn2{
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%) ;


}
.btn3{
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%) ;

}

.btn1:hover{
    background-color:hsl(31, 77%, 52%); 
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(0, 0%, 95%) ;
    cursor: pointer;
}
.btn2:hover{
   
    background-color: hsl(184, 100%, 22%);
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(0, 0%, 95%) ;
    cursor: pointer;
}
.btn3:hover{
  
    background-color: hsl(179, 100%, 13%);
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(0, 0%, 95%) ;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .container{
        display: block;
    }
 .left-container,.middle-container,.right-container{
    width: 100%;
    display: block;
    float: none;
    padding-top: 3em;
    border-radius: 0;

 }
 .box1{margin-top: 0;}
 .left-container{
     border-radius:10px 10px 0 0  ;
 }
 .right-container{
    border-radius:0 0 10px 10px  ;
}
  }