@font-face {
    font-family:'Lexend Deca' ;
    src: url('../fonts/LexendDeca-Regular.ttf');
    font-family: 'Big Shoulders Display';
    src: url('../fonts/BigShouldersDisplay-Bold.ttf');
}


body{
    background-color: hsl(0, 0%, 95%);
    box-shadow:;
}

.container{
    display: flex;
    padding: 0;
    width: 70%;
    margin-left: 16% ;
    margin-right: 17%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 3.5px rgba(0,0,0,0.1);

}
.left-container{
    border-radius: 10px 0px 0px 10px;
    float: left;
    background-color: hsl(31, 77%, 52%);
    width: 35%;
    height: 490px;
}
.middle-container{
    float: inherit;
    background-color:hsl(184, 100%, 22%) ;
    width: 35%;
    height: 490px;
}
.right-container{
    float: right;
   background-color: hsl(179, 100%, 13%);
   width: 35%;
    height: 490px;
    border-radius:  0px 10px 10px 0px;
}

p{
line-height: 24px;
font-family:'Lexend Deca';
font-weight: 350;
color:hsla(0, 0%, 100%, 0.75) ;
font-size: 14px;
opacity: 98%;
}
h1{
font-family:'Big Shoulders Display';
font-size: 38px;
font-weight: 700;
color:hsl(0, 0%, 95%) ;

}

.box1{
    margin-left: 15%;
    margin-top: 14%;
}

.box2{
    margin-left: 15%;
    margin-top: 13%;
}

.box3-1 {
    display:block;
    margin-left: 15%;
    margin-top: auto;
    margin-right: 25%;
    margin-bottom: auto;
}

.box3-2 {
    display: block;
    margin-left: 15%;
    margin-top: auto;
    margin-right: 19%;
    margin-bottom: auto;
}

.box3-3 {
    display: block;
    margin-left: 15%;
    margin-top: auto;
    margin-right: 21%;
    margin-bottom: auto;
}

.box4-1{
    
    margin-left: 14%;
    margin-top: 27%;
    margin-bottom: 23%;
    margin-right: 38%;
}

.box4-2{
    margin-left: 14%;
    margin-top: 27%;
    margin-top: 27%;
    margin-bottom: 23%;  
}


.box4-3{
    
    margin-left: 14%;
    margin-top: 27%;
    margin-bottom: 23%;
    margin-right: 38%;
}

button{
   
    height: 48px;
    width: 148px;
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    border-width:2px;
    border-style: solid;
    border-color: hsl(0, 0%, 95%) ;
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(0, 0%, 95%) ;
}

.btn1{

    background-color:hsl(31, 77%, 52%); ;
}
.btn2{
    margin-right: 38%;margin-left: 15%;
    background-color: hsl(184, 100%, 22%);
}
.btn3{

    background-color: hsl(179, 100%, 13%);
    
}

.btn1:hover{
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%) ;
}
.btn2:hover{
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%) ;
}
.btn3:hover{
    border-radius: 28px;
    font-family:'Lexend Deca';
    font-weight: 400;
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%) ;
}